<p id="mapholder" ng-show="toggleMap">
</p>
<button class="btn btn-info" onclick="getLocation()" ng-click="toggleMap= !toggleMap">Get Location</button>

<button type="button" name="button" ng-click="ac.playVoice()">Click</button>Hello! I'm Allison, but you can change my voice however you wish.

<table class="table table-striped" id="footer">
  <tr>
    <td class="promptButton">
      <button type="button" class="btn btn-danger" ng-click="ac.makeCall()">Call Now</button>
    </td>
    <tr>
</table>
