<h2>Tutorial</h2>
<h4>Welcome to urgenC.</h4>
<br>
<p><em>urgenC</em> is an app designed to let users access emergency services during times they are unable to speak - whether that be because of disability, or if you find yourself in a situation where you must be silent. </p>

<div>
  <h3>Symbols</h3>
  <table class="table">
    <tr>
      <td class="tutorialImage"><img src="images/infoGray.png" alt="tutorial image"></td>
      <td>
        <p>
          Tap to return to this tutorial page.
        </p>
      </td>
    </tr>

    <tr>
      <td class="tutorialImage"><img src="images/hidegray.png" alt="hide image"></td>
      <td>
        <p>
          Tap to hide the app and return back to the false calendar page - reenter the app by hitting the date that says "911". Tapping this will not reset your prompts.
        </p>
      </td>
    </tr>

    <tr>
      <td class="tutorialImage"><img src="images/emergencyGray.png" alt="emergency image"></td>
      <td>
        <p>
          Tap to enter the prompt system.
        </p>
      </td>
    </tr>
  </table>
</div>

<h2>The Prompt System</h2>
<p><em>This tutorial will lead you through a hypothetical situation.</em></p>
<p>Upon tapping the emergency button, you will enter the prompt system. Immediately you will see the words</p>
<h4>Please state your emergency</h4>
<p>You will given several options. Select the one that best describes your situation, such as:</p>

<table class="table table-striped">
  <tr>
    <td class="promptButton">
      <button type="button" class="btn btn-primary" onClick="alert('Please navigate to the Prompt page to make emergency call.')">Physical Assault</button>
    </td>
    <td class="promptButton">
      <button type="button" class="btn btn-info" onClick="alert('Please navigate to the Prompt page to make emergency call.')">Home Invasion</button>
    </td>
  </tr>
</table>

<p> Upon making a selection, more questions will be loaded. These questions are designed to gather the most information possbile from you about your emergency. These are all qustions that would be asked by 911 dispatch.</p>
<p>It is highly recommended that you answer all possible questions, but if at any point you are unable to continue answering, hit: </p>

<table class="table table-striped">
  <tr>
    <td class="promptButton">
      <button type="button" class="btn btn-danger" onClick="alert('Please navigate to the Prompt page to make emergency call.')">Call Now</button>
    </td>
    <tr>
</table>

<p>You can find the <em>Call Now</em> button at the bottom of the Prompt page - simply scroll down until you see it.</p>
<p>Once you hit <em>Call Now</em> the answers you gave to the prompt questions will be converted into an audio file. You'll be asked to share your location - your phone's GPS will locate you, and then provide that location as well as the audio file to 911
  dispatch.
</p>
<p>At this point, it is imperative that you leave your phone on. If you are concerned about the noise, feel free to turn down your volume. 911 dispatch will be informed that you are using the <em>urgenC</em> app and that you cannot speak. </p>

<h2>Thank you for using urgenC!</h2>
